*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
nosvedplayer-keystore
/*.txt
*.log
*.aar
*.sh
mxplayer_openSource_license.md
update_details.md
.vscode
.agent
nosved-player-commits-v1.3.0.md
/.idea
/.kotlin